.header {
  .logo-header {
    background-color: #000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      .logo-link {
        img {
          height: 40px;
          object-fit: contain;
        }
      }
    }
    .nav-bar-search {
      display: flex;
      justify-content: center;
      .flex-item {
       margin : 0 15px;
        font-size: 20px;
        font-weight: 300;
        a {
          text-decoration: none;
          color: #fff;
          transition: all 0.5s;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: -5px;
            left: 0;
            background-color: red;
            transition: width 0.3s;
          }
          &:hover {
            &::before{
                width: 100%;
            }
            color: red;
          }
        }
      }
      .search {
      }
      .carts {
      }
      .login {
      }
      .register {
      }
    }
  }
  .menu {
    min-height: 75px;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .nav-menu{
        a{
            text-decoration: none;
            color:rgb(103, 100, 100);
        }
    }
  }
}
